.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-inline: auto;
	padding-top: 45px;
}

.logo {
	width: 81px;

	cursor: pointer;

	transition: 0.2s all ease-in-out;
	&:hover {
		opacity: 0.8;
	}
}

.sideMenu {
	display: flex;
	align-items: center;

	gap: 20px;
}

.profile,
.admin {
	opacity: 0.45;

	transition: 0.2s all ease-in-out;
	&:hover {
		opacity: 1;
		cursor: pointer;
	}
}

.admin:hover {
	animation: admin 1s 1;
}

@media (max-width: 1200px) {
	.logo {
		width: 60px;
	}
}
@media (max-width: 540px) {
	.profile,
	.admin {
		width: 30px;
	}
}

@keyframes admin {
	0% {
		transform: rotate(-10deg);
	}
	25% {
		transform: rotate(50deg);
	}
	75% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
